/*
 * CONTENTS:
 *
 * GLOBALS AND BODY
 *
 * MAIN DIV AND COLOR BUTTONS
 *  Simon body..............(Main DIV of Simon).
 *  Colors buttons..........(Color buttons globals).
 *  OFF button colors.......(Colors for "off" buttons).
 *  ON button colors........(Colors for "on" buttons).
 *
 * CENTRAL PANEL
 *  Central panel...........(Simon's central panel).
 *  Info display............(Top-half of central panel).
 *  Buttons container.......(Bottom-half of central panel).
 *
 * CENTRAL BUTTONS
 *  Button's outer space....(Black space behind buttons).
 *  Button's style..........(Button's main style).
 *  Button:active...........(Button's active style)
 *  Start button ...........(Start button style)
 *  Strict button...........(Strict button style)
 *  Strict button class.....(Class for "on" effect)
 *
 * RESPONSIVE DECLARATIONS
 *
 */


/*------------------------------------*\
  #GLOBALS AND BODY
\*------------------------------------*/

:root {
  --size: 250px;        /* Board's side size */
  --back: #16232d;      /* Board color */
  --btnsize: 105px;     /* Color button's side size */
  --panelsize: 120px;   /* Central panel side size */
  --paneldivs: 60px;    /* Central panel divs height and line-height */
}

body {
  background-color: #24372F;
  /*background: radial-gradient(ellipse at center, #484a47 0%,#2f332d 100%) fixed;*/
}



/*------------------------------------*\
  #MAIN DIV AND COLORS BUTTONS
\*------------------------------------*/

/* Simon body */
#main {
  background-color: var(--back);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: var(--size);
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
  transform: rotate(45deg);
  width: var(--size);
}


/* Simon's color buttons */
#main > * {
  cursor: pointer;
  height: var(--btnsize);
  margin: 10px;
  width: var(--btnsize);
}

/* "Off"-state button colors */
#green {
  background-color: #3e593e;
}

#red {
  background-color: #593e3e;
}

#yellow {
  background-color: #59593e;
}

#blue {
  background-color: #3e3e59;
}

/* "On"-state/active button colors */
#green:active {
  background-color: #29a529;
  transform: scale(.98);
}

#red:active {
  background-color: #a52929;
  transform: scale(.98);
}

#yellow:active {
  background-color: #a5a529;
  transform: scale(.98);
}

#blue:active {
  background-color: #5656d8;
  transform: scale(.98);
}


/*------------------------------------*\
  #CENTRAL PANEL
\*------------------------------------*/

/* Central panel */
#center {
  background-color: var(--back);
  height: var(--panelsize);
  margin: auto;
  transform: translateY(-185px);
  width: var(--panelsize);
}


/* Info display */
#count {
  color: white;
  font-family: Aldrich, Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  height: var(--paneldivs);
  line-height: var(--paneldivs);
  text-align: center;
}


/* Button's container */
.container {
  display: inline-block;
  height: var(--paneldivs);
  margin-left: 8px;
}



/*------------------------------------*\
  #CENTRAL BUTTONS
\*------------------------------------*/

/* Button's outer space */
.outer {
  background-color: black;
  border-bottom: 1px solid #16232d;
  border-radius: 4px;
  height: 34px;
  position: absolute;
  width: 54px;
  z-index: 0;
}

#outer2 {
  transform: translate(51px, 0px);
}

/* Button's style */
button {
  background: #223543;
  background: -moz-linear-gradient(top, #223543 0%, #1c2b36 100%);
  background: -webkit-linear-gradient(top, #223543 0%, #1c2b36 100%);
  background: linear-gradient(to bottom, #223543 0%, #1c2b36 100%);
  border: 1px solid #223543;
  border-top-color: #3e4f5b;
  color: #669cc3;
  font-size: .75em;
  height: 30px;
  margin-top: 1px;
  position: absolute;
  transform: translate(2px, 1px);
  width: 50px;
  z-index: 1;
}

button:active {
  background: #111a21;
  border-color: #111a21;
}

button:active + .outer {
  border-bottom-color: #3e4f5b;
}

/* Start button */
#start {
  border-radius: 4px 0 0 4px;
}

/* Strict mode button */
#strict {
  border-left: 0;
  border-radius: 0 4px 4px 0;
  transform: translate(53px, 1px);
}

/* Class for Strict mode button */
.btnLighted {
  color: red;
  text-shadow: 0 0 5px red;
}



/*------------------------------------*\
  #RESPONSIVE DECLARATIONS
\*------------------------------------*/

@media only screen and ( min-width: 550px ) {
  :root {
    --size: 350px;        /* Board's side size */
    --btnsize: 147px;     /* Color button's side size */
    --panelsize: 170px;
    --paneldivs: 85px;
  }
  #main > * { margin: 14px; }
  #center { transform: translateY(-263px); }
  #count {
    font-size: 1.8em;
  }
  .container { margin-left: 32px; }
}
